In [1]:
# 1) Write a code to create a string with your name and print it.
name = input("Enter Your Name: ")

Enter Your Name:  Ravi

In [2]:
# 2) Write a code to find the length of the string "Hello World".
checkStrLength = "Hello World"
print(len(checkStrLength))

11

In [4]:
# 3) Write a code to slice the first 3 characters from the string "Python Programming".
strSlicing = "Python Programming"
print(strSlicing[:3])

Pyt

In [5]:
# 4) Write a code to convert the string "hello" to uppercase.
str = "hello"
str.upper()

'HELLO'

In [6]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple".
str = "I like apple"
str.replace('apple','orange')

'I like orange'

In [9]:
# 6) Write a code to create a list with numbers 1 to 5 and print it.
num_list = [1, 2, 3, 4, 5]
num_list

[1, 2, 3, 4, 5]

In [12]:
# 7) Write a code to append the number 10 to the list [1, 2, 3, 4]
num_list = [1, 2, 3, 4]
num_list.append(10)
num_list

[1, 2, 3, 4, 10]

In [13]:
# 8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
num_list = [1, 2, 3, 4, 5]
num_list.remove(3)
num_list

[1, 2, 4, 5]

In [14]:
# 9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']
str_list = ['a', 'b', 'c', 'd']
str_list[1]

'b'

In [15]:
# 10) Write a code to reverse the list [10, 20, 30, 40, 50].
rev_list = [10, 20, 30, 40, 50]
rev_list[::-1]

[50, 40, 30, 20, 10]

In [1]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tupElement = (100, 200, 300)
tupElement

(100, 200, 300)

In [33]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
color = ('red', 'green', 'blue', 'yellow')
second2Last = color[-2]
second2Last

'blue'

In [32]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
min_number = (10, 20, 5, 15)
minimum = min_number[0]
for number in min_number:
    if number < minimum:
        minimum = number

print(minimum)

5

In [34]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animal = ('dog', 'cat', 'rabbit')
print(animal.index('cat'))

1

In [35]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('Apple','Kiwi','Pineapple')
if 'Kiwi' in fruits:
    print("Kiwi is available in tuple.")
else:
    print("Kiwi is not availablein tuple.")

Kiwi is available in tuple.

In [36]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
setElements = {'a', 'b', 'c'}
print(setElements)

{'a', 'c', 'b'}

In [38]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
number = {1, 2, 3, 4, 5}
number.clear()
number

set()

In [39]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
number = {1, 2, 3, 4}
number.remove(4)
number

{1, 2, 3}

In [40]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
unionSet = set_1.union(set_2)
print(unionSet)

{1, 2, 3, 4, 5}

In [41]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_1 = {1, 2, 3}
set_2 = {3, 4, 5}
intersectionSet = set_1.intersection(set_2)
print(intersectionSet)

{3}

In [42]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
employee = {
    "name": 'Jayson',
    "age": 30,
    "city": 'New York'
}
employee

{'name': 'Jayson', 'age': 30, 'city': 'New York'}

In [43]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
employee = {
    "Name": 'John',
    "age" : 25
}

employee['country'] = "USA"
print(employee)

{'Name': 'John', 'age': 25, 'country': 'USA'}

In [3]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
employee = {
    "Name": 'Alice',
    "age" : 30
}

for value in employee.values():
    print(value)

Alice
30

In [12]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
employee = {
    'name': 'Bob', 
    'age': 22, 
    'city': 'New York'
}

employee.pop("age")

employee

Set: {'cherry', 'apple', 'banana'}

In [13]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
employee = {
    'name': 'Alice', 
    'city': 'Paris'
}

if 'city' in employee:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [14]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {
    'name': 'Alice',
    'age': 30,
    'city': 'Paris'
}

# Printing them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [16]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random
# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [10, 39, 43, 46, 61]

In [17]:
# 28. Write a code to create a list with strings and print the element at the third index.

# Create a list of strings
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index
print("Element at index 3:", fruits[3])

Element at index 3: date

In [18]:
# 29. Write a code to combine two dictionaries into one and print the result.

# Define two dictionaries
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [20]:
# 30. Write a code to convert a list of strings into a set.

# Create a list of strings
string_list = ["apple", "banana", "cherry", "apple", "banana"]

# # Convert the list into a set
string_set = set(string_list)

# # Print the result
print("Set:", string_set)

Set: {'cherry', 'apple', 'banana'}